<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>House of Cards</string>
		<key>year</key>
		<integer>2013</integer>
		<key>url</key>
		<string>https://www.imdb.com/title/tt1856010/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Orange Is the New Black</string>
		<key>year</key>
		<integer>2013</integer>
		<key>url</key>
		<string>https://www.imdb.com/title/tt2372162/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Game of Thrones</string>
		<key>year</key>
		<integer>2011</integer>
		<key>url</key>
		<string>https://www.imdb.com/title/tt0944947/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Suits</string>
		<key>year</key>
		<integer>2011</integer>
		<key>url</key>
		<string>https://www.imdb.com/title/tt1632701/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Grey&apos;s Anatomy</string>
		<key>year</key>
		<integer>2005</integer>
		<key>url</key>
		<string>https://www.imdb.com/title/tt0413573/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>The Walking Dead</string>
		<key>year</key>
		<integer>2010</integer>
		<key>url</key>
		<string>https://www.imdb.com/title/tt1520211/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Friends</string>
		<key>year</key>
		<integer>1994</integer>
		<key>url</key>
		<string>https://www.imdb.com/title/tt0108778/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>American Horror Story</string>
		<key>year</key>
		<integer>2011</integer>
		<key>url</key>
		<string>https://www.imdb.com/title/tt1844624/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Stranger Things</string>
		<key>year</key>
		<integer>2016</integer>
		<key>url</key>
		<string>https://www.imdb.com/title/tt4574334/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Doctor Who</string>
		<key>year</key>
		<integer>2005</integer>
		<key>url</key>
		<string>https://www.imdb.com/title/tt0436992/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>How I Met Your Mother</string>
		<key>year</key>
		<integer>2005</integer>
		<key>url</key>
		<string>https://www.imdb.com/title/tt0460649/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>The Vampire Diaries</string>
		<key>year</key>
		<integer>2009</integer>
		<key>url</key>
		<string>https://www.imdb.com/title/tt1405406/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Breaking Bad</string>
		<key>year</key>
		<integer>2008</integer>
		<key>url</key>
		<string>https://www.imdb.com/title/tt0903747/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>13 Reasons Why</string>
		<key>year</key>
		<integer>2017</integer>
		<key>url</key>
		<string>https://www.imdb.com/title/tt1837492/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Black Mirror</string>
		<key>year</key>
		<integer>2011</integer>
		<key>url</key>
		<string>https://www.imdb.com/title/tt2085059/</string>
	</dict>
</array>
</plist>
